body {
  background-color: #f4f4f9;
  font-family: Arial, sans-serif;
  color: #333;
  margin: 20px;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.column {
  width: 48%;
  display: flex;
  flex-direction: column;
}

h1 {
  color: #1a73e8;
  font-size: 2.5em;
  text-align: center;
  font-family: "Trebuchet MS", sans-serif;
}

h2 {
  color: #00509e;
  font-size: 1.8em;
  margin-top: 30px;
}

p,
li {
  color: #333;
  font-size: 1.1em;
  line-height: 1.5em;
  text-align: justify;
}

a {
  color: #0077cc;
  text-decoration: none;
}

img {
  display: block;
  margin: 20px auto;
  border: 4px solid #ccc;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  max-width: 100%;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th {
  background-color: #1a73e8;
  color: white;
  font-weight: bold;
  padding: 10px;
  border: 1px solid #ddd;
}

td {
  padding: 10px;
  border: 1px solid #ccc;
  text-align: center;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}
